body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-weight: bold;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 80px 20px;
}

section {
    background: white;
    padding: 40px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 100px;

}

section h1 {
    margin-top: 0;
}

#menu-top {
    padding: 0;
    background-color: #333;
    color: white;
}