.panel {
    font-family: "Source Code Pro";
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }

    25% {
        transform: translateY(-20px) translateX(10px) rotate(45deg);
    }

    50% {
        transform: translateY(20px) translateX(-10px) rotate(90deg);
    }

    75% {
        transform: translateY(-10px) translateX(10px) rotate(135deg);
    }

    100% {
        transform: translateY(0) translateX(0) rotate(360deg);
    }
}

.shape {
    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.2;
}

.body-background {
    background-color: #0A192F;
}